<div>
    <h1 style ="color:chartreuse;">Login Page</h1>
    <form>
        <div class="mb-3">
        
            <label for="input1" class="form-label">UserId</label>
            <input type="text" class="form-control" id="" name="">
        </div>

        <div class="mb-3">
            <label for="input1" class="form-label">Password</label>
            <input type="password" class="form-control" id="" name="">
        </div>
        <div>
            <button class="btn btn-primary">Login</button>
        </div>

    </form>
</div>